div.message-content div.uwp {
    width: 100%;
    background-color: #F0F0F070;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.jump-links {
    width: 100%;
}

.jump-links li {
    display: inline-block;
    text-align: center;
}

.jump-links li:first-child:before {
    content: "";
}

.jump-links li::before {
    content: " | ";
    padding-right: 4px;
    padding-left: 4px;
}

dl.traveller-map-uwp dt {
    float: left;
}

dl.traveller-map-uwp dt::after {
    content: ":";
    padding-right: 3px;
}

dd.traveller-map-uwp dd {

}

.uwp .subsector {
    font-weight: bold;
    font-style: italic;
}

.uwp .sector-name {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.uwp .allegiance {
    font-style: italic;
}

.centre-link {
    text-align: center;
    display: block;
    width: 100%;
}