<div class='uwp'>
  <ul>
    {{#each sectors}}
      <li
        class="subsector-item"
        data-sector="{{this.Sector.Name}}"
        data-name="{{index}}"
        data-index="{{index}}"
      >
        <a>{{this.Sector.Name}} / {{index}}</a>
      </li>
    {{/each}}
  </ul>
</div>
