<div class='uwp'>
  <ul>
    {{#each subsectors}}
      <li
        class="subsector-item"
        data-sector="{{this.Subsector.Sector}}"
        data-name="{{this.Subsector.Name}}"
        data-index="{{this.Subsector.Index}}"
      >
        <a>{{this.Subsector.Sector}} / {{this.Subsector.Name}}</a>
      </li>
    {{/each}}
  </ul>
</div>
